<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Delta</title>
    <meta name="description"
          content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic"/>
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design"/>
    <meta name="author" content="Luka Cvetinovic for Codrops"/>
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="css/cardio.css">

    <style>
    .gallerymargin {
    margin-top: 200px;

    }

     .gallery {
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
    padding: 3px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.gallery li {
  float: left;
}

.gallery a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gallery a:hover{
  background-color: #ddd;
}

.gallery a.active {
  color: white;
  background-color: #888;
}

div.desc {
  padding: 2px;
  text-align: center;
  color: #666;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 23%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

        h4 {
            color:white;
           }


    </style>
</head>

<body>
<div class="preloader">
    <img src="img/loader.gif" alt="Preloader image">
</div>
<nav class="navbar">
    <script>
        function onLogout() {
            var userselection = confirm("Caution! Logging out deletes all of your photos and videos!");

            if (userselection == true){
                window.location.href = '/logout';
            }
        }
    </script>


    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left main-nav">
                <li><a class="navbar-brand" href="#"><img src="img/logo.jpeg" height="100px" width="150px"
                                                          data-active-url="img/logo.jpeg" alt=""></a></li>
                <li><a href="javascript:getPage('/index.html')">Home</a></li>
                <li><a href="javascript:getPage('/index.html#baseline')">Baseline</a></li>
                <li><a href="javascript:getPage('/index.html#timelapse')">Timelapse</a></li>
                <li><a href="javascript:getPage('/indoor.html')">Indoor Changes</a></li>
                <li><a href="javascript:getPage('/gallery.html')">Gallery</a></li>
                <li><a href="javascript:getPage('/workspace.html')">Workspace</a></li>
                <li><a href="javascript:onLogout()">Logout</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header id="changes">

    <div class="container">
        <div class="table">
            <div class="header-text">

                <!--EYECATCHER--><div class='gallerymargin'><ul class='gallery'><li><a class="active" href="/gallery.html?day=0&hour=0">06/19</a></li></ul></div><ul class='gallery'><li><a class="active" href="/gallery.html?day=0&hour=0">01:06</a></li></ul><div class="row">
<div class="row"><div>
<div class="gallery"><img width="20%" height="125" src=/./sessions/current_session/2019_06_19_01_06_54.jpg onclick="location.href='/./sessions/current_session/2019_06_19_01_06_54.jpg'">
<div class="desc">2019 06 19 01 06 54</div></div><div class="gallery"><img width="20%" height="125" src=/./sessions/current_session/2019_06_19_01_07_51.jpg onclick="location.href='/./sessions/current_session/2019_06_19_01_07_51.jpg'">
<div class="desc">2019 06 19 01 07 51</div></div></div></div>
<!--EYECATCHER-->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/typewriter.js"></script>
<script src="js/jquery.onepagenav.js"></script>
<script src="js/main.js"></script>
<script src="js/my_script.js"></script>

</body>

</html>
