<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Delta</title>
    <meta name="description"
          content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic"/>
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design"/>
    <meta name="author" content="Luka Cvetinovic for Codrops"/>
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="css/cardio.css">

    <style>
        .gallery {
  list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0;
    margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.gallery li {
  float: left;
}

.gallery a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gallery a:hover{
  background-color: #ddd;
}

.gallery a.active {
  color: white;
  background-color: #888;
}

div.desc {
  padding: 2px;
  text-align: center;
  color: #666;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 23%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
</style>
</head>

<body>
<div class="preloader">
    <img src="img/loader.gif" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/logo.png" data-active-url="img/logo-active.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left main-nav">
                <li><a href="/index.html">Project Delta</a></li>
                <li><a href="/gallery.html">Gallery</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header id="changes">

    <div class="container">
        <div class="table">
            <div class="header-text">

                <!--EYECATCHER--><ul class='gallery'><li><a class="active" href="/gallery.html?num=0">0</a></li><li><a href="/gallery.html?num=1">1</a></li><li><a href="/gallery.html?num=2">2</a></li><li><a href="/gallery.html?num=3">3</a></li><li><a href="/gallery.html?num=4">4</a></li><li><a href="/gallery.html?num=5">5</a></li><li><a href="/gallery.html?num=6">6</a></li><li><a href="/gallery.html?num=7">7</a></li><li><a href="/gallery.html?num=8">8</a></li><li><a href="/gallery.html?num=9">9</a></li></ul><div class="row">
<div class="row"><div>
<div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_40_14.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_40_14.jpg'">
<div class="desc">2019 05 18 16 40 14</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_40_32.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_40_32.jpg'">
<div class="desc">2019 05 18 16 40 32</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_40_51.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_40_51.jpg'">
<div class="desc">2019 05 18 16 40 51</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_41_10.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_41_10.jpg'">
<div class="desc">2019 05 18 16 41 10</div></div></div></div>
<div class="row"><div>
<div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_41_28.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_41_28.jpg'">
<div class="desc">2019 05 18 16 41 28</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_41_46.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_41_46.jpg'">
<div class="desc">2019 05 18 16 41 46</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_42_05.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_42_05.jpg'">
<div class="desc">2019 05 18 16 42 05</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_42_24.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_42_24.jpg'">
<div class="desc">2019 05 18 16 42 24</div></div></div></div>
<div class="row"><div>
<div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_42_43.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_42_43.jpg'">
<div class="desc">2019 05 18 16 42 43</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_43_01.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_43_01.jpg'">
<div class="desc">2019 05 18 16 43 01</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_43_19.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_43_19.jpg'">
<div class="desc">2019 05 18 16 43 19</div></div><div class="gallery"><img width="20%" height="125" src=/sessions/z_outdoor4/2019_05_18_16_43_39.jpg onclick="location.href='/sessions/z_outdoor4/2019_05_18_16_43_39.jpg'">
<div class="desc">2019 05 18 16 43 39</div></div></div></div>
<!--EYECATCHER-->
            </div>
        </div>
    </div>
    </div>
</header>

<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/typewriter.js"></script>
<script src="js/jquery.onepagenav.js"></script>
<script src="js/main.js"></script>
</body>

</html>
